<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz: Your Results</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous" />

    <style>
        .container {
            margin-top: 5%;
        }

        h2 {
            margin-bottom: 5%;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container center">
        <h2>Thanks, Davis!</h2>
        <p>You responded correctly to 3 out of 4 questions.</p>
        <button type="button" class="btn btn-link">Take another test</button>
    </div>
</body>
</html>